<html>
    <head>
        <title>Home</title>
  <style>
              * {box-sizing: border-box}
            body{
              margin: auto;
              background-color: rgb(164, 161, 172);

            }
            .topnav {
              background-color: rgb(6, 45, 82);
              overflow: hidden;
            }
            .topnav a {
              float: left;
              color: #f2f2f2;
              text-align: right;
              padding: 14px 16px;
              text-decoration: none;
              font-size: 17px;
              position: relative;
              left:1100px;

            }
            .topnav a:hover {
              background-color: #ddd;
              color: black;
            }
            .topnav a.active {
              background-color: #4CAF50;
              color: white;
            }
            @keyframes example {
              from {
                background-color: rgb(221, 221, 175);}
              to {background-color:rgb(113, 170, 98);}
            }
            .welcome{
                color:wheat;
                text-align: center;
                /* background-color:#54a37c; */
                background-color:#63ca74;
                margin:50px;
                font-size: 100px;
                width: 1000px;
                height: 150px;
                animation-name: example;
                animation-duration: 4s;
            }
            .wel{
              color:rgb(145, 119, 71);
                text-align: center;
                background-color: rgb(218, 218, 108);
                margin:50px;
              margin-left: 200px;
                font-size: 50px;
                width: 1000px;
                height: 450px;
            }

  </style>
    </head>
    <body>
      <div class="topnav">
        <a class="active" href="/">Home</a>
        <a href="/register">SignUp</a>
        <a href="/login">SignIn</a>
      </div>
  <div class='wel'> create a<div class="welcome">to-do list</div>to organize and prioritize your tasks.</div>
    </body>
</html>