<!DOCTYPE html>
<html>
<head>
    
    <link rel="stylesheet" type="text/css" href="/css/login.css">
</head>
<body>
    <div class="topnav">
        <a href="/">Home</a>
        <a href="/register">SignUp</a>
        <a class="active"href="/login">SignIn</a>
      </div>
  
<div class="form-popup" id="myForm">
  <form action="/userLogin" class="form-container" method="POST">
    <h1><u>SignIn</u></h1>
    <hr>
    <label for="email"><b>Email</b></label>
    <input type="text" placeholder="Enter Email" name="email" required>

    <label for="psw"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="password" required>

    <button type="submit" class="btn">Login</button> </form>
</div>


</body>
</html>

