<html>
    <head>
        <title>Registration</title>
        <link rel="stylesheet" type="text/css" href="/css/register.css">
    </head>
    <body>
      
    <div class="topnav">
      <a href="/">Home</a>
      <a class="active" href="/register">SignUp</a>
      <a href="/login">SignIn</a>
    </div>
    <div class="container">
        <form action="/registration" method="POST">
          <h1><u>SignUp</u></h1>
          <hr>
       <!-- <h1>SignUp</h1> -->
              <p>Please fill in this form to create an account.</p>
              <hr>
              
              <label for="username"><b>Username</b></label>
              <input type="text" placeholder="Enter username" name="username" id="username" required>
          
              <label for="email"><b>Email</b></label>
              <input type="text" placeholder="Enter Email" name="email" id="email" required>
          
              <label for="psw"><b>Password</b></label>
              <input type="password" placeholder="Enter Password" name="password" id="psw" required>
              <hr>
          
              <button type="submit" class="registerbtn">Register</button>
              <p>Already have an account? <a href="/login">Sign in</a>.</p>
            </div>
          </form>
        
    </body>
</html>
  