<html>
<head>
    <title> ToDo App </title>
    <link href="https://fonts.googleapis.com/css?family=Lato:100"     rel="stylesheet">
    <!-- <link href="./../public/css/styles.css" rel="stylesheet"> -->
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
  
  </head>
<body>
    <div class="topnav">
      <a href="/">Home</a>
      <a href="/register">SignUp</a>
      <a href="/login">SignIn</a>
      <a class="active">TodoList</a>
    </div>
  <div class="container">
        <form action ="/addtask" method="POST">
            <!-- <b>UserId</b> -->
            <input type='text' name="user_id" id='user_id' value=<%= user_id %> readonly>
            <h2> ToDo List </h2>
            <input type="text" name="newtask" placeholder="add new task">  <button> Add </button>
  
        <div>
            <h3> Added Task </h3>
            <% for( var i = 1; i < task.length; i++){ %>
                <li><input type="radio" name="check" value="<%= task[i] %>" /> <%= task[i] %> </li>
            <% } %>
            
        </div>
        <p> </p>
        <div>
            <button formaction="/removetask" type="submit">Done</button>
            <h3> Completed task </h3>
            <% for(var i = 0; i < complete.length; i++){ %>
            <li id='done' style="text-decoration: line-through red;"><%= complete[i] %> </li>
            <% } %>
        </div>
    </form>
</div>

</body>
</html>
