
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
    background-color: rgb(216, 207, 129);
   
}
* {box-sizing: border-box;}
h1{
  text-align: center;
  text-transform: capitalize;
}
.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
  border: 2px solid  rgb(41, 41, 25);
  margin-left:500px;
  margin-top: 50px;
}

.form-container input[type=text], .form-container input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

.form-container .btn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

.form-container .cancel {
  background-color: red;
}

.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}

.topnav {
    
  background-color: rgb(6, 45, 82);
  overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #f2f2f2;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    text-align: right;
    position: relative;
    left: 1100px;
}
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
 
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #4CAF50;
    color: white;
  }
  
