body{
        margin: auto;
        background-color: rgb(207, 152, 152);
   
}
h2{
  margin-top: 0px;
  padding: 20px;
  text-align: center;
  background: #1abc9c;
  color: white;
  font-size: 30px;
}
.container{
    border: 10px solid  rgb(218, 218, 108);
     background-color:white;
    width: 500px;
    padding: 50px;
    margin-left: 370px;
    margin-top:10px
}
input[type=text] {
    width: 82%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
  }
#user_id{
  margin-top: 0px;
  margin-left: -1100px;
  width: 5%;
  height:0%;
  color:'black';
  background-color:rgb(250, 245, 245);
}
  li{
    width: 100%;
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    background-color: #f1f1f1;
  }
  button{
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 13px 30px;
    cursor: pointer;
  }
  .topnav {
    background-color: rgb(6, 45, 82);
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #f2f2f2;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    text-align: right;
    position: relative;
    left: 1000px;
}
 
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #4CAF50;
    color: white;
  }
  